$color-primary: #eeeeed !default;
$color-primary-alt: #4b2d2d !default;
$color-secondary: #863841 !default;
$color-background: #58c29e !default;
$color-background-complementary: #22201f!default;

body{
  background-image: conic-gradient(#58c29e 90deg, #22201f 0 180deg, #58c29e 0 270deg, #22201f 0);
  background-size: 250px 250px;
}

