@font-face {
  font-family: "BloodCrowRegular";
  src: url("../sass/fonts/bloodcrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
header .container h1, header .container h2 {
  font-family: "BloodCrowRegular", sans-serif;
  color: black;
}

body {
  background-image: conic-gradient(#58c29e 90deg, #22201f 0 180deg, #58c29e 0 270deg, #22201f 0);
  background-size: 250px 250px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

.skip-link {
  font-size: 0.6em;
  color: white;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

header .container {
  background-color: white;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 95%;
}

.link-github {
  font-size: 1.2rem;
}

.link-github svg {
  width: 16px;
  height: 16px;
}

header h2 {
  font-size: 2rem;
}

header p {
  margin-top: 2em;
  font-size: 0.8rem;
}

header h1 {
  font-size: 0;
  margin: 0;
  position: relative;
  width: 330px;
  height: 330px;
  display: inline-block;
  overflow: hidden;
  background: url("../sass/block/imgs/logo.png") no-repeat center center;
  background-size: contain;
}

nav {
  background-color: black;
  width: 95%;
  margin: auto;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 5px;
  list-style: none;
}
nav ul li {
  margin: 0 15px;
}
nav ul a {
  display: inline-grid;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}
nav ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.3s ease;
  transition-delay: 0.1s;
}
nav ul a:hover {
  color: rgb(227, 6, 19);
}
nav ul a:hover::after {
  width: 100%;
  left: 0;
  background: rgb(227, 6, 19);
}

body {
  background-image: conic-gradient(#58c29e 90deg, #22201f 0 180deg, #58c29e 0 270deg, #22201f 0);
  background-size: 250px 250px;
  color: var(--color-text);
  font-family: var(--font-family);
}

.page-footer {
  position: relative;
  padding: 3rem 1rem;
}
.page-footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  position: relative;
  background-color: white;
  padding: 1rem 2rem;
}
.page-footer div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
  margin-bottom: 2rem;
}
.page-footer div ul li {
  text-align: center;
  background: url("../sass/block/imgs/sword.png") no-repeat;
  overflow: visible;
  background-size: 15px;
  background-position-x: 0px;
  background-position-y: center;
  padding: 2px 25px;
}
.page-footer div ul li a {
  text-decoration: none;
  color: var(--color-primary-alt);
  position: relative;
  transition: color 0.3s ease;
}
.page-footer div ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.3s ease;
  transition-delay: 0.1s;
}
.page-footer div ul li a:hover {
  color: rgb(227, 6, 19);
}
.page-footer div ul li a:hover::after {
  width: 100%;
  left: 0;
  background: rgb(227, 6, 19);
}
.page-footer p {
  text-align: center;
  width: 75%;
}
.page-footer p:first-child {
  margin-top: 1rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
  font-family: "BloodCrowRegular", sans-serif;
  color: black;
  font-size: 32px;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
