@font-face {
  font-family: "BloodCrowRegular";
  src: url("../sass/fonts/bloodcrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
header .container h1, header .container h2 {
  font-family: "BloodCrowRegular", sans-serif;
  color: black;
}

body {
  background-image: conic-gradient(#58c29e 90deg, #22201f 0 180deg, #58c29e 0 270deg, #22201f 0);
  background-size: 250px 250px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

.skip-link {
  font-size: 0.6em;
  color: white;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

header .container {
  background-color: white;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 75%;
}

.link-github {
  font-size: 1.2rem;
}

.link-github svg {
  width: 16px;
  height: 16px;
}

header h2 {
  font-size: 2rem;
}

header p {
  margin-top: 5em;
  font-size: 0.8rem;
}

header h1 {
  font-size: 0; /* Hide the text without using color */
  margin: 0;
  position: relative;
  width: 330px; /* Set width of the h1 element */
  height: 330px; /* Set height of the h1 element */
  display: inline-block; /* Ensure h1 is treated as a block for dimensions */
  overflow: hidden; /* Ensure content does not overflow */
  background: url("../sass/block/imgs/logo.png") no-repeat center center;
  background-size: contain; /* Ensure the image fits within the element */
}

nav {
  background-color: black;
  width: 75%;
  margin: auto;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 5px;
  list-style: none;
}
nav ul li {
  margin: 0 15px;
}
nav ul a {
  display: inline-grid;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

body {
  background-image: conic-gradient(#58c29e 90deg, #22201f 0 180deg, #58c29e 0 270deg, #22201f 0);
  background-size: 250px 250px;
  color: var(--color-text);
  font-family: var(--font-family);
}

.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2fbf7' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);
}
.page-footer::before {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  border: 0.16em solid var(--color-primary);
  box-shadow: 0.12em 0.12em var(--color-secondary);
  place-content: center;
  position: absolute;
  left: 50%;
  width: 2em;
  transform: translate(-50%, -100%);
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 3rem;
  content: "S";
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
