.page-footer {
  position: relative;
  padding: 3rem 1rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    position: relative;
    background-color: white;
    padding: 1rem 2rem;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 3rem;
      margin-bottom: 2rem;

      li {
        // text-decoration: none;
        text-align: center;
        background: url("../sass/block/imgs/sword.png") no-repeat;
        overflow: visible;
        background-size: 15px;
        background-position-x: 0px;
        background-position-y: center;
        padding: 2px 25px;

        a {
          text-decoration: none;
          color: var(--color-primary-alt);
          position: relative;
          transition: color 0.3s ease;

          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: white;
            transition: width 0.3s ease;
            transition-delay: 0.1s;
          }
          &:hover {
            color: rgb(227, 6, 19);
          }
          &:hover::after {
            width: 100%;
            left: 0;
            background: rgb(227, 6, 19);
          }
        }
      }
    }
  }

  p {
    text-align: center;
    width: 75%;
  }

  p:first-child {
    margin-top: 1rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
    font-family: "BloodCrowRegular", sans-serif;
    color: black;
    font-size: 32px;
  }

  p a {
    color: inherit;
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
